@model IEnumerable<ItemComponent>

@{
    ViewData["Title"] = "ItemComponentList";
}

<h2>Список Компонентів</h2>

<table class="table">
    <td>
    @Html.ActionLink(
        "Додати складник до товару",
        "ItemComponentCreate",            // controller action
        "Admin",        // controller
        new { itemId = @ViewBag.ItemId })        
    </td>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Едитувати</a> |||
                <a asp-action="Delete" asp-route-id="@item.Id">Усунути</a>
            </td>
        </tr>
    }
    </tbody>
</table>
